{% load i18n %}

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	      <h5 class="modal-title" id="exampleModalLabel">{% trans "Ready to Leave?" %}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">{% trans 'Select "Logout" below if you are ready to end your current session.' %}</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancel" %}</button>
        <form method="POST" action="{% url "account_logout" %}">
          {% csrf_token %}
          <button class="btn btn-primary" href="login.html">{% trans "Logout" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
