{% extends "sb_admin_2/base.html" %}

{% block body %}
  <body id="page-top">
  
    <!-- Page Wrapper -->
    <div id="wrapper">
  
      {% include "sb_admin_2/components/sidebar.html" %}
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
          {% include "sb_admin_2/components/topbar.html" %}
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            {% block content %}{% endblock %}
  
          </div>
          <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        {% include "sb_admin_2/components/footer.html" %}
  
      </div>
      <!-- End of Content Wrapper -->
  
    </div>
    <!-- End of Page Wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    {% include "sb_admin_2/components/logout.html" %}
  
    {% include "sb_admin_2/components/scripts.html" %}
  
  </body>
{% endblock %}
